@charset "UTF-8";

*{
    
    margin: 0;
    padding: 0;
}

body{
    
    background-color: #8AA6A3;
}



header{
    
    background-color: #10403B;
    height: 100px;
    margin-bottom: 10px;
}

span{
    
    margin-top: 14px;
    
    padding: 5px;
    text-align: center;
    color: aliceblue;
    background-color: #031311;
    width: 98%;
    cursor: pointer;
    transition: all 0.3s;
}

span:hover{
    background-color: #085249;
}

h1{
    padding-top: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #BFBFBF;
    letter-spacing: 5px;
}

menu{
    display: none;
    background-color: #8AA6A3;
    padding: 10px;
    
}

ul > li{
    
    display: block;
    text-decoration: none;
    margin: auto;
    list-style: none;
    border-radius: 10px;
   
    padding: 2px;

    
}

a{  
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 9px;
    background-color: #10403B;
    text-transform: uppercase;
    text-decoration: none;
    color: #e1f5f3;
    transition: all 0.3s;
    
}

a:hover, li:hover{
    background-color: #BFBFBF;
    color: #10403B;
    
    
}

main{
    margin: auto;
    padding: 15px;
    width: 90%;
    background-color: aliceblue;
    border-radius: 10px;
    
}

h2{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
    
}

p{
    margin-top: 10px;
    text-align: justify;
    text-indent: 15px;
}


    
