@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

table{

    margin: auto;
    border-collapse: collapse;
    width: 90%;
}

td, th{
    border: 1px solid black;
    text-align: center;
    padding: 13px;
    
}


.mulheres{
    background-color: rgb(250, 243, 244);
}
.homens{
    background-color: rgb(238, 255, 255);
}

#nomes{
    color: rgb(47, 4, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

